
.menu1{
    padding: 5px;
    margin: auto;
    width: 100%;
    background-color: #867365;;
    font-family: sans-serif; 
}

.navbar-logo{
	display:inline-block;
	vertical-align:middle;
	width: 80px;
}

.navbar-logo img{
	display:block;
	width: 150%;
	height: 150%;
}

.menu1 li a{
    text-decoration: none; /*quitar subrayado*/
    color: #fff;
    padding: 20px; /*separar los elemnetos*/
}

.menu1 li {
    list-style-type: none; /*quitar viñetas*/
    display: inline-block; /*linea horizontal*/
    text-align: center;
}

.menu1 li a:hover{ /*cuando pasas el cursor*/
    background-color: cornsilk;
    color: rgb(0, 0, 0);
}

.body {
    text-align: center;
    font-family: 'dafont', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 63px;
    background: #212121;
    border-bottom: 1px dashed #d6e199;
}

.navbar a {
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font: 20px;
}

.title {
    margin-bottom: 40px;
    font: 60px;
    text-transform: uppercase;
}

p{
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 0 150px;
}

.btn01 {
    display: inline-block;
    padding: 10px 40px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}

.btn02 {
    display: inline-block;
    padding: 10px 40px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}

.btn1 {
    display: inline-block;
    padding: 10px 40px;
    border: 2px solid #000000;
    color: #000000;
    text-decoration: none;
}

.btn2 {
    display: inline-block;
    padding: 10px 40px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}

.abo {

    color: #000000;
    background: url(../img/madera.jpg);
}

.abo p {
    max-width: 1055px;
    margin: 0 auto;
}


.contain {
    max-width: 1055px;
    margin: 0 auto;
}


.contact {
    background: #10adc2;
    color: #000000;
    padding-bottom: 0;
}


.cont{
    background: url(../img/base1.png);
    width: 100%;
    height: 250px;
    color: #ffffff;
}

.content {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font: 60px;
    font-size: 34px;
    background-color: #8b7b6f;
    border-radius: 10px;
   }

   .container{
    background: url(../img/fondoE.jpg) no-repeat center top;
    width: 1339px;
    height: 2050px;
    min-width: 100%;
}